<%include ../partials/authHeader%>

<div class="container">
    <div class="regFormContainer">
           <h2>Register</h2>
        <form action="/new" method="POST">
                <div class="form-group">
                    <input class="form-control" type="Email" name="user[username]" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[firstname]" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[lastname]" placeholder="Last Name">
                </div>
                <div class="form-group">
                     <div class='input-group date' id='datetimepicker1'>
                    <input name="user[bday]" type='date' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[tel]" value="+995 5" placeholder="Mobile">
                </div>
                <div class="form-group">
                    <select name="user[permission]" class="form-control">
                        <option>user</option>
                        <option>admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="user[office]" class="form-control">
                        <option>Vake Shop           </option>
                        <option>Central Shop        </option>
                        <option>Gldani Shop         </option>
                        <option>Marjanishvili Shop  </option>
                        <option>Rustaveli           </option>
                        <option>Avlabari Shop       </option>
                        <option>Pekini Shop         </option>
                        <option>Kostava Shop        </option>
                        <option>Ortachala Shop      </option>
                        <option>Varketili Shop      </option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[position]" placeholder="Current Position">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input name="user[pic]" type="file" id="exampleInputFile">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Register</button>
                </div>

                <a href="/mainPage">Go Back</a>
        </form>
    </div>
</div>
             

<%include ../partials/footer%>