<%include ../partials/printableHeader%>

<div class="googleRegContainer">
    <img class="google-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/768px-Apple_logo_black.svg.png">
</div>
<div class="textboxContainer">
    <h3>Mail:</h3><input type="text">
    <h3>Password:</h3><input type="text">
</div>

<div class="warning">
    <i class="fa fa-exclamation" aria-hidden="true"></i>
    <p>გაითვალისწინეთ, რომ ინფორმაცია არ ინახება.<br>
        გთხოვთ, შეინახოთ არსებული დოკუმენტი.</p>
</div>


<%include ../partials/footer%>
