<%include ../partials/header%>

<div class="container" id="firstContainer">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            სამუშაო პროგრამები
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <!--<table class="table table-bordered">-->
          <!--  <tr>-->
          <!--    <th>Billing</th>-->
          <!--    <td><a href="http://10.40.3.25:7001/myshapecsr/jfn" target="_blank">CSR Portal</a></td>-->
          <!--    <td><a href="http://cssaccess.intra/channel/jfn" target="_blank">CSR Channel</a></td>-->
          <!--    <td><a href="http://sbms.intra:8888/ps/sbms/shell.html" target="_blank">Peter-Service</a></td>-->
          <!--  </tr>-->
          <!--  <tr>-->
          <!--    <th>Roaming</th>-->
          <!--    <td><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-lailai-subs" target="_blank">Roaming ლაი-ლაი</a></td>-->
          <!--    <td><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-geocell-subs" target="_blank">Roaming ჯეოსელი</a></td>-->
          <!--  </tr>-->
          <!--  <tr>-->
          <!--    <th>Other</th>-->
          <!--    <td><a href="http://snserv3.intra/index.php">SMS Log</a></td>-->
          <!--    <td><a href="http://4g.ge" target="_blank">Invigo</a></td>-->
          <!--    <td><a href="http://terra.intra/pls/idavapps/IFRAMEWORK.main" target="_blank">Switch info</a></td>-->
          <!--    <td><a href="http://email.geocell.ge" target="_blank">Geocell Mail</a></td>-->
          <!--  </tr>-->
          <!--</table>-->
          <div class="row">
              <div class="col-md-3 col-sm-6" id="links">
                <ul>
                  <li><strong>-----Billing-----</strong></li>
                  <li class="img-circle"><a href="http://10.40.3.25:7001/myshapecsr/jfn" target="_blank">CSR Portal</a></li>
                  <li class="img-rounded"><a href="http://cssaccess.intra/channel/jfn" target="_blank">CSR Channel</a></li>
                  <li class="img-rounded"><a href="http://sbms.intra:8888/ps/sbms/shell.html" target="_blank">Peter-Service</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" id="links">
                <ul>
                  <li><strong>-----Roaming-----</strong></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-lailai-subs" target="_blank">Roaming ლაი-ლაი</a></li>
                  <li><a href="https://geocell.ge/ge/private/roaming/roaming-partners/roaming-partners-for-geocell-subs" target="_blank">Roaming ჯეოსელი</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6" id="links">
                <ul>
                  <li><strong>-----Other-----</strong></li>
                  <li><a href="http://snserv3.intra/index.php">SMS Log</a></li>
                  <li><a href="http://4g.ge" target="_blank">Invigo</a></li>
                  <li><a href="http://terra.intra/pls/idavapps/IFRAMEWORK.main" target="_blank">Switch info</a></li>
                  <li><a href="http://email.geocell.ge" target="_blank">Geocell Mail</a></li>
                  <li><a href="http://4g.ge" target="_blank">Phone Installment</a></li>
                  <li><a href="http://http://phinstallgui2.intra:8080/PhoneInstallmentGui2/?session_id=1809440" target="_blank">4g.ge</a></li>
                </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Tech News
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            რაღაცეები
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
          3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
          raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>

  <!--  ========================================================================================================    -->

  <div class="well well-lg">
    <h1>Hot news and unsolved problems division</h1>
      <ol>
          <li>დავამთავრო პოსტების დადების ფუნქცია და ვიზუალის ნაწილი</li>
          <li>კომენტარების ლოგიკის ჩამატება</li>
          <li>გავაკეთო middlewear და admin შესაძლებლობები, კომენტარების შეცვლა შეეძლება კომენტარის დამწერსაც</li>
            <li>ჩვენი CR ნაწილის დასრულება</li>
            <li>ტესტების ვიზუალურად გამოჩენა</li>
            <li>ქულების დაწერა</li>
            <li>პასვორდის შეცვლის ფუნქცია</li>
            <li>დავასრულო ოფისების განყოფილება</li>
      </ol>
  </div>
</div>
</div>

<!--  ========================================================================================================    -->

<h3 id="containerDesc">Guides / News / Methods</h3>
<div class="container" id="feedsMainContainer">
<% post.forEach(function (fPost) { %>
  <div class="row">
    <div class="col-md-12" id="feedsContainer">

      <div id="blogTitle">
        <h4><a></a></h4>
        <p>Posted By: <em></em></p>
        <p><em> date</em></p>
        <p>Description:</p>
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life
          accusamus terry richardson ad squid. 3 wolf moon officia aute,</p>
      </div>
      <div id="imageDiv">
        <img id="feedsImg" src="https://s-media-cache-ak0.pinimg.com/originals/b8/50/30/b850301ece5049b28010e96970273ab6.jpg">
      </div>

    </div>
  </div>
    <% }) %>

</div>





<%include ../partials/footer%>