<%include ../partials/header%>

<div class="container">
    <form action="/mainPage" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">შეიყვანეთ სათაური ქართულად</label>
            <input name="iPost[title]" type="text" class="form-control" id="exampleInputEmail1" placeholder="სათაური">
        </div>
        <select name="iPost[tag]" class="form-control">
            <option>Android</option>
            <option>Apple</option>
            <option>Navision</option>
            <option>Must know!</option>
            <option>FAQ</option>
            <option>Other</option>
            <option>Billing</option>
            <% if(currentUser.permission === "admin"){ %>
            <option>HOT</option>
            <% } %>
        </select>
        <textarea name="iPost[content]"></textarea>

        <script>
            CKEDITOR.replace('iPost[content]');
        </script>

        <button class="btn btn-default">Submit</button>
    </form>

</div>



<%include ../partials/footer%>