<%include ../partials/header%>
<div class="container">
<% guide.forEach(function (foundPost) { %>
<h1> <%= foundPost.title %></h1>
<p> <%- foundPost.content %></p>
<% })%>
</div>

<%include ../partials/footer%>