<%include ../partials/header%>
<div class="container">
    <div class="col-md-3 col-md-9">
    <img src="https://www.wired.com/wp-content/uploads/2015/09/google-logo-1200x630.jpg">
     <p>Email</p><input type="text">


    </div>


</div>


<%include ../partials/footer%>
