body {
    background-color: #c1c1c1;
}

#feedsContainer {
    padding: 5px 10px;
    margin: 5px 10px;
    width: 96%;
    height: 150px;
    /*border: 2px black solid;*/
    background-color: #ececec;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    overflow: hidden;
}

#feedsImg {
    width: 95%;
    height: 95%;
}

#imageDiv{
    height: 100%;
    width: 150px;
    margin-top: 4px;
    margin-left: -9px;
    display: inline-block;
    float: left;
}

#blogTitle{
    display: inline-block;
    margin-left: 7px;
    margin-top: -4px;
    max-width: 78%;
}

.panel-default>.panel-heading {
    background-color: #7c5aa6 !important;
}

.row{
    padding-top: 20px;
}

#feedsMainContainer {
    background-color: #ececec;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
}

#firstContainer {
    background-color: #ececec;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
}


#containerDesc {
    margin-top: 100px;
    margin-left: 100px;
}


ul li {
    list-style-type: none;
}

ul li img {
    width: 30px;
    height: 30px;
}

.panel-title{
    color: white !important;

}
.panel-title a{
    text-decoration: none !important;
}

.panel-title a:hover{
    font-size: 18px !important;
}



#links {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 150px;
    
}


.regFormContainer {
    max-width: 500px;
    min-width: 300px;
    margin: 10% auto;
}



#tableContainer .table {
    max-width: 600px;
    margin: 15% auto;
}


#signature {
    font-size: 1.3em;
    color: grey;
}

.table.table-striped {
    max-width: 500px;
}


.picUpload {
    display: inline-flex;
}

.img-thumbnail.userProfile-image {
    width: 150px;
    margin: 10px auto;
}

#profileDiv {
    max-width: 530px;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
}

#userPic {
    width: 30px
}

.navbar-nav>li>a .userlink {
    padding-top: 0;
    padding-bottom: 0;
}

.hotNewsContainer {
    width: 150px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
}

.my-own-well {
    display: inline-flex;
    border-radius: 15px;
    border: rebeccapurple solid 1px;
    height: 240px;
    width: 100%;
}

.postDeleteBtn {
    float: right;
}

.post-container {
    width: 960px;
    margin: 20px auto;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
    border-radius: 10px;
    padding: 20px;
}

.post-content {
    width: 960px;
    margin: 20px auto;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.glyphicon.glyphicon-calendar {
    font-size: 18px;
}

#post-date-time{
    float: right;
}

#title-header {
    font-size: 18px;
    font-weight: bold;
    color: #7b0682;
}

.post-comments {
    width: 960px;
    margin: 20px auto;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

















/*============================  navbar remake  ========================================================*/

.navbar.navbar-default {
    background-color: #754c97;
}

.navbar.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #754c97;
    border-color: #008568 !important;
}
.navbar-default .navbar-brand {
    color: #fdffff !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #4e256b !important;
}
.navbar-default .navbar-text {
    color: #fdffff !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fdffff !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #4e256b !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #e6e6e6 !important;
    background-color: #583c78 !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #4e256b !important;
    background-color: #008568;
}
.navbar-default .navbar-toggle {
    border-color: #754c97 !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #583c78 !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fdffff !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fdffff !important;
}
.navbar-default .navbar-link {
    color: #fdffff !important;
}
.navbar-default .navbar-link:hover {
    color: #4e256b !important;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fdffff !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #4e256b !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #4e256b !important;
        background-color: #008568 !important;
    }
}
