

#feedsContainer {
    padding: 5px 10px;
    margin: 5px 10px;
    width: 96%;
    height: 150px;
    /*border: 2px black solid;*/
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    overflow: hidden;
}

#feedsImg {
    width: 95%;
    height: 95%;
}

#imageDiv{
    height: 100%;
    width: 150px;
    margin-top: 4px;
    margin-left: -9px;
    display: inline-block;
    float: left;
}

#blogTitle{
    display: inline-block;
    margin-left: 7px;
    margin-top: -4px;
    max-width: 78%;
}

.panel-default>.panel-heading {
    background-color: #7c5aa6 !important;
}

.row{
    padding-top: 20px;
}

#feedsMainContainer {
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

#feedsMainContainer h4{
    display: inline-block;
}

.blogPostButtons {
    float: right;
    color: white;
    display: inline-block;
}

#postTag {
    display: inline-block;
}

#firstContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    border-radius: 10px;
    padding: 20px;
}


#containerDesc {
    margin-top: 100px;
    margin-left: 100px;
}


ul li {
    list-style-type: none;
}

ul li img {
    width: 30px;
    height: 30px;
}

.panel-title{
    color: white !important;

}
.panel-title a{
    text-decoration: none !important;
}

.panel-title a:hover{
    font-size: 18px !important;
}



#links {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 150px;
    
}


div#regFormContainer {
    width: 300px;
    margin: 10% auto;
}



#tableContainer .table {
    max-width: 600px;
    margin: 15% auto;
}


#signature {
    font-size: 1.3em;
    color: grey;
}

.table.table-striped {
    width: 100%;
}


.picUpload {
    display: inline-flex;
}

.img-thumbnail.userProfile-image {
    width: 150px;
    margin: 10px auto;
}

#profileDiv {
    margin-top: 20px;
    width: 100%;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
}

#userPic {
    width: 30px
}

.navbar-nav>li>a .userlink {
    padding-top: 0;
    padding-bottom: 0;
}


.my-own-well {
    margin-top: 15px;
    display: inline-flex;
    border-radius: 15px;
    border: rebeccapurple solid 1px;
    height: 240px;
    width: 100%;
    padding: 25px;
    overflow-y: scroll;
}
.my-own-well thead {
    border-bottom: solid black 1px;
}
.my-own-well th {

}
.table-td {
    min-width: 150px;
    border-bottom: 1px black solid;
}
.table-title {
    min-width: 300px;
    width: 100%;
    border-bottom: 1px black solid;
}
table {
    width: 100%;
}

.post-container {
    min-width: 420px;
    margin-top: 20px;
    height: 200px;
    margin-left: 8%;
    margin-right: 50%;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
    border-radius: 10px;
    padding: 20px;
}

.post-content {
    min-width: 420px;
    margin-left: 8%;
    margin-right: 8%;
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    word-wrap: break-word;
}

.glyphicon.glyphicon-calendar {
    font-size: 18px;
}

#post-date-time{
    margin-top: 5px;
}

#title-header {
    font-size: 18px;
    font-weight: bold;
    color: #7b0682;
}

.post-comments-container {
    min-width: 420px;
    margin-left: 8%;
    margin-right: 8%;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.45);
    border-radius: 2px;
    padding: 20px;
    margin-top: 10px;
   
}

.tag-color {
    color: #73d047;
}

.tag-color:hover {
    color: #4e9c32;
}

a.userLink {
    margin: 0;
    padding: 0;
}

.comment-user-pic {
    width: 55px;
}

.comment-data{
    -webkit-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.45);
    border-radius: 6px;
    padding: 10px;
    margin-top: 7px;
    word-wrap: break-word;
}

#btnStyle {
    color: white;
    border:1px solid #00a87d;
    background-color: #00a87d;
    padding: 8px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.45);
}

#btnStyle:hover {
    background-color: #00c58f;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
}

#btnStyleSmall {
    color: white;
    border:1px solid #00a87d;
    background-color: #00a87d;
    padding: 4px 13px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.45);
}
.btnStyleSmall {
    float: right;
    margin-top: 2px;
    margin-right: 20px;
}
#btnStyleSmall:hover {
    background-color: #00c58f;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);
    text-decoration: none;
}

#comment-date {
    float: right;
}

.comment-data hr{
    margin: 10px;
}

.post-comment-form {
    margin-top: 15px;
}

.btn-warning {
    float: right;
}

.btn-primary.btnStyle {
    color: white;
    border:1px solid #00a87d;
    background-color: #00a87d;
    padding: 8px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.45);
}
.btn-primary.btnStyle {
background-color: #00c58f;
box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.45);

}

.programLinks {
    padding: 0;
}

.programLinks li{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.45);
    border-radius: 5px;
    padding: 2px 1px 2px 10px;
    margin-top: 5px;
    color: white;
    background-color: #00a87d;
}

.programLinks li:hover {
    background-color: #00c58f;
}

.programLinks li a {
    color: white;
    text-decoration: none;
}


.programLinks li:first-child {
    background-color: rgba(59, 118, 103, 1)
}


.searchBar {
    background-color: #754c97;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.45);
}

#searchBar {
    padding: 0;
}

.searchBar h5 {
    display: inline-block;
    color: white;
}

.searchBar form{
    display: inline-block;
}

#preview img{
    width: 100px;
}

.postContentHolder h4 {
    margin-top: 0;

}

.postContentHolder {
    margin-bottom: 4px;
    border-radius: 10px;
    border: solid rebeccapurple 1px;
    padding: 10px;
    display: block;
}


#searchForm {
    display: inline-block;
    margin-left: 23px;
}

footer {
    height: 100px;
    background-color: #583c78;
    color: white;
    padding: 20px;
    margin-bottom: 0%;
    width: 100%;
}


.roundButton {

}

#expendableTable {
    display: none;
}










    /*============================  navbar remake  ========================================================*/

.navbar.navbar-default {
    background-color: #583c78;
    margin-bottom: 0;
}
.dropdown-menu>li>a{
    background-color: #583c78;
    color: white;
}
/*421C52*/


#navbar-brand {
    color: white;
}


.navbar-default .navbar-text {
    color: #fdffff !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fdffff !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    border-bottom: 2px white solid;
}
/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a:hover,*/
/*.navbar-default .navbar-nav > .active > a:focus {*/
    /*color: #e6e6e6 !important;*/
    /*background-color: #583c78 !important;*/
/*}*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #732C7B !important;
    background-color: #008568;
}
.navbar-default .navbar-toggle {
    border-color: #754c97 !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #583c78 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fdffff !important;
}

/*.navbar-default .navbar-collapse,*/
/*.navbar-default .navbar-form {*/
    /*border-color: #fdffff !important;*/
/*}*/
/*.navbar-default .navbar-link {*/
    /*color: #fdffff !important;*/
/*}*/
/*.navbar-default .navbar-link:hover {*/
    /*color: #732C7B !important;*/
/*}*/

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fdffff !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #732C7B !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #732C7B !important;
        background-color: #008568 !important;
    }
}



