<%include ../partials/header%>

<div class="container">
    <% if(currentUser.permission === "admin") { %>
    <a class="btn btn-warning" href="/quiz/new">Add test questions</a>
    <% } %>


    





</div>




<%include ../partials/footer%>