<%include ../partials/header%>

<div class="container" id="container">
    <div class='container'>
        <div class='searchBar'>
            <form action="/quiz/" method="GET" id="searchForm">
                <h5>Filter by Tag</h5>
                <select name="tagName" id="tagName">
                    <option>none</option>
                    <option>Android</option>
                    <option>Apple</option>
                    <option>Navision</option>
                    <option>Must know!</option>
                    <option>Billing</option>
                    <option>FAQ</option>
                    <option>Other</option>
                </select>
                <input type="text" placeholder="Search">
                <span id="testText"><a>https://www.youtube.com/watch?v=fEYx8dQr_cQ</a></span>
                <input type='submit' id='btnStyleSmall' class='searchBtn' value='Search'>
            </form>
            <a href="/mainPage/new"><span id="btnStyleSmall">New Post!</span></a>
        </div>
    </div>

    <div class="postContentHolder">
        <h4 id="blogTitle"><a href="/mainPage/:id">blog title</a></h4>
        <span class="pull-right"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><em>blog date toDateString() </em></span>
        <p><strong>Posted By: </strong><em>firstname lastname</em></p>
        <p id="postTag"><strong>Tag: </strong><span class="tag-color">Android</span></p>
    </div>


</div>




<%include ../partials/footer%>