<%include ../partials/header%>

<div class="container">
    <% if(currentUser.permission === "admin") { %>
    <a class="btn btn-warning" href="/quiz/new">Add test questions</a>
    <% } %>


       <% quiz.answers.forEach(function (testAnswers) { %>
    <!--<div class="radio">-->
        <!--<label>-->
            <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option">-->
            <!---->
        <!--</label>-->
    <!--</div>-->
      <% }) %>



</div>




<%include ../partials/footer%>